* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(73, 108, 137);
}



#instDrop {
  display: none;
  position: absolute;
  background-color: #201c1ca9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}


.main {
  height: 400px;
  align-self: center;
  background-color: rgb(18, 53, 82);
  border-radius: 10px;
  margin: 10vw 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(244, 218, 183);
}

.keyBoard {
  background-color: gray;
  color: black;
}

#userText,
#targetText {
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  height: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#validIndicator {
  background: black;
  border-radius: 50%;
  margin: 10px;
  height: 40px;
  width: 40px;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
}

.changing {
  animation: pulse 0.75s 1;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


.startButton {
  height: 2.5rem;
  width: 4rem;
  color: rgb(244, 218, 183);
  background-color: rgba(3, 22, 38);
  border-radius: 10px;
  font-size: larger;
}

.newScorePanel {
  width: 10rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#newScoreText {
  width: 90%;
  padding-right: 5%;
  margin-top: 0.5rem;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
}

.newScores {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#newAccuracy {
  background-color: rgb(126, 133, 139);
  width: 3rem;
  text-align: center;
  font-weight: 800;
  color: rgb(58, 34, 0);
}

#newWPM {
  background-color: gray;
  width: 3rem;
  text-align: center;
  color: rgb(58, 34, 0);
  font-weight: 800;
}

.averages {
  margin: 1rem;
  width: 40%;
  display: flex;
  justify-content: space-between;
  color: rgb(244, 218, 183);
  font-weight: 700;
}

#accuracy {
  /* width: -moz-fit-content; */
  width: 45%;
  background-color: rgb(73, 108, 137);
  padding: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wpm {
  width: 45%;
  background-color: rgb(73, 108, 137);
  padding: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
